#player-cont
  display: flex
  max-width: 25rem
  flex-direction: column
  margin: 0 auto
  box-shadow: 0px 0px 11px 2px var(--shadow-col)

  video, .controls, .social
    display: flex
    justify-content: space-between
    width: 24rem
    margin: 1rem auto

  #play-pause-btn, .time-cont, .views-cont, .vote-container
    -moz-border-radius: 18px
    -webkit-border-radius: 18px
    border-radius: 18px
    border: 1px solid var(--shadow-col)
    display: flex
    padding: 5px 15px

  #play-pause-btn
    -moz-box-shadow: 3px 4px 0px 0px var(--shadow-col)
    -webkit-box-shadow: 3px 4px 0px 0px var(--shadow-col)
    box-shadow: 3px 4px 0px 0px var(--shadow-col)
    background-color: var(--light-blue)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, var(--light-blue)), color-stop(1, var(--dark-blue)))
    background: -moz-linear-gradient(top, var(--light-blue) 5%, var(--dark-blue) 100%)
    background: -webkit-linear-gradient(top, var(--light-blue) 5%, var(--dark-blue) 100%)
    background: -ms-linear-gradient(top, var(--light-blue) 5%, var(--dark-blue) 100%)
    background: linear-gradient(to bottom, var(--light-blue) 5%, var(--dark-blue) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='var(--light-blue)', endColorstr='var(--dark-blue)', GradientType=0)

    justify-content: space-between
    cursor: pointer
    color: #ffffff

    text-decoration: none
    text-shadow: 0px 1px 0px #528ecc
    width: 66px

    &:hover
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, var(--dark-blue)), color-stop(1, var(--light-blue)))
      background: -moz-linear-gradient(top, var(--dark-blue) 5%, var(--light-blue) 100%)
      background: -webkit-linear-gradient(top, var(--dark-blue) 5%, var(--light-blue) 100%)
      background: -ms-linear-gradient(top, var(--dark-blue) 5%, var(--light-blue) 100%)
      background: linear-gradient(to bottom, var(--dark-blue) 5%, var(--light-blue) 100%)
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='var(--dark-blue)', endColorstr='var(--light-blue)', GradientType=0)
      background-color: var(--dark-blue)

    &:active
      position: relative
      top: 1px

    span
      display: inline-table
      align-self: center

  .time-cont
    justify-content: flex-end

    .current-time-caption, .timer-counter-cont
      display: inline-table
      align-self: center

  .vote-container
    text-align: center
    width: 120px
    padding: 0

    a
      width: 50%
      cursor: pointer
      -moz-border-radius: 18px
      -webkit-border-radius: 18px


    #thumbsUp
      border-inline-end: 1px solid var(--shadow-col)
      border-radius: 18px 0 0 18px

    #thumbsDown
      border-radius: 0 18px 18px 0

    .is-clicked
      background-color: var(--light-blue)
