<div id="player-cont">
  <video
    #player
    autoplay
    (ended)="ended()"
    (loadeddata)="loaded(player.duration)"
    (timeupdate)="onCurrTimeUpdate(player.currentTime)">
    <source src="http://clips.vorwaerts-gmbh.de/VfE_html5.mp4" type="video/mp4"/><!-- Safari / iOS, IE9 -->
    <source src="http://clips.vorwaerts-gmbh.de/VfE.webm" type="video/webm"/><!-- Chrome10+, Ffx4+, Opera10.6+ -->
    <source src="http://clips.vorwaerts-gmbh.de/VfE.ogv" type="video/ogg"/><!-- Firefox3.6+ / Opera 10.5+ -->
  </video>
  <div class="controls">
    <a id="play-pause-btn" (click)="playPause(player)">
      <span>{{player.paused ? 'Play' : 'Pause'}}</span>
      <i class="material-icons">{{player.paused ? 'play_arrow' : 'pause'}}</i>
    </a>
    <div class="time-cont">
      <span class="current-time-caption">Current time: &nbsp;</span>
      <span class="timer-counter-cont">
        <span class="currentTime">{{currTimeStr}}</span>
        /
        <span class="duration">{{duration}}</span>
      </span>
    </div>
  </div>
  <div class="social">
    <div class="views-cont">
      <span class="viewsCaption">Views: </span>
      <span class="views">{{clipData?.views}}</span>
    </div>
    <div class="vote-container">
      <a id="thumbsUp" [class.is-clicked]="isLiked" (click)="handleLikes('up')"><i class="material-icons">thumb_up</i> {{clipData?.thumbsUp}}
      </a>
      <a id="thumbsDown" [class.is-clicked]="isDisliked" (click)="handleLikes('down')"><i
        class="material-icons">thumb_down</i> {{clipData?.thumbsDown}}</a>
    </div>
  </div>
</div>
